@model UcbWeb.ViewModels.OrganisationTypeVM
@{
    ViewBag.Title = Resources.ENTITYNAME_ORGANISATIONTYPE;
}
<h2>Maintain @Resources.ENTITYNAME_ORGANISATIONTYPE</h2>
<script type="text/javascript">
    /// <reference path="jquery-1.7.1.js" />
    /// <reference path="jquery-ui.js" />
    $(document).ready(function () {

        var isDirty = @(Model.IsViewDirty?Html.Raw("true"):Html.Raw("false"));

        $(':input').change(function () {
            if (!isDirty) {
                isDirty = true;
            }
        });
		//;
		var $myDialogDelete = $('<div id=\'delete_dialog_fw\'></div>')
        .html('Are you sure you want to delete?<br/>Click OK to confirm.  Click Cancel to stop this action.')
        .dialog({
            autoOpen: false,
            modal: true,
            title: 'Confirmation Required',
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    if ($('#IsDeleteConfirmed').val() == "True") {
                        var form = $('#mainForm')
                        var input = $("<input>").attr("type", "hidden").attr("name", "Edit::DeleteOrganisationType").val("");
                        form.append($(input));
                        $('#mainForm')[0].submit();
                        return true;
                    }
                }
                , "Cancel": function () {
                    $(this).dialog("close");
                    return false;
                }
            }

        });
		
		var $myDialogExit = $('<div id=\'exit_dialog_fw\'></div>')
        .html('Are you sure you want to exit?<br/>Click OK to confirm.  Click Cancel to stop this action.')
        .dialog({
            autoOpen: false,
            modal: true,
            title: 'Confirmation Required',
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    if ($('#IsExitConfirmed').val() == "True") {
                        var form = $('#mainForm')
                        var input = $("<input>").attr("type", "hidden").attr("name", "Edit::ExitOrganisationType").val("");
                        form.append($(input));
                        $('#mainForm')[0].submit();
                        return true;
                    }
                }
                , "Cancel": function () {
                    $(this).dialog("close");
                    return false;
                }
            }

        });

        $('#mainForm').submit(function (e) {

            if ($('#mainForm').find('input[type="submit"]:focus').attr('name') == 'Edit::DeleteOrganisationType') {
                e.preventDefault();
                $('#IsDeleteConfirmed').val("True");
                var returnValue = $myDialogDelete.dialog('open');  //replace the div id with the id of the button/form
                return returnValue;
            }
            else if ($('#mainForm').find('input[type="submit"]:focus').attr('name') == 'Edit::ExitOrganisationType') {
                if (isDirty == true) {
                    e.preventDefault();
                    $('#IsExitConfirmed').val("True");
                    var returnValue = $myDialogExit.dialog('open');  //replace the div id with the id of the button/form
                    return returnValue;
                }
                else {
                    $('#IsExitConfirmed').val("True");
                    return true;
                }
            }
            else {
                return true;
            }
        });
	});
	
</script>
@using (Html.BeginForm("Edit", "OrganisationType", FormMethod.Post, new { @id = "mainForm" }))
{
    
    <div class='message'>@Model.Message</div>
    @Html.ValidationSummary(false, @Resources.ERROR_SUMMARY_TITLE, new { id = "validation_errors" })
    @Html.HiddenFor(model => model.OrganisationTypeItem.Code)
    <input type='hidden' id='IsDeleteConfirmed' name='IsDeleteConfirmed' value='@Model.IsDeleteConfirmed' />
    <input type='hidden' id='IsExitConfirmed' name='IsExitConfirmed' value='@Model.IsExitConfirmed' />
    <div class="full-width clearfix">
		    <fieldset class="ui-widget ui-widget-content ui-corner-all">
                <legend class="ui-widget-header ui-corner-all">@Resources.ENTITYNAME_ORGANISATIONTYPE</legend>
				@Html.EditorFor(model => model.OrganisationTypeItem.Name, "LabelLargeFieldAlign")
				@Html.EditorFor(model => model.OrganisationTypeItem.LevelNumber, "LabelFieldAlign")
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.OrganisationTypeItem.OrganisationTypeGroupCode)
					</div>
					<div class="editor-field right-60" title='@Html.ToolTipFor(model => model.OrganisationTypeItem.OrganisationTypeGroupCode)'>
						@Html.DropDownListFor(model => model.OrganisationTypeItem.OrganisationTypeGroupCode, new SelectList(Model.OrganisationTypeGroupList, "Code", "Name"), @String.Format(Resources.DDL_GENERIC, @Resources.ENTITYNAME_ORGANISATIONTYPEGROUP))
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.OrganisationTypeItem.OrganisationTypeGroupCode)
					</div>
				</div>
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.OrganisationTypeItem.ParentOrganisationTypeCode)
					</div>
					<div class="editor-field right-60" title='@Html.ToolTipFor(model => model.OrganisationTypeItem.ParentOrganisationTypeCode)'>
						@Html.DropDownListFor(model => model.OrganisationTypeItem.ParentOrganisationTypeCode, new SelectList(Model.ParentOrganisationTypeList, "Code", "Name"), @String.Format(Resources.DDL_GENERIC, @Resources.ENTITYNAME_ORGANISATIONTYPE))
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.OrganisationTypeItem.ParentOrganisationTypeCode)
					</div>
				</div>
				@Html.EditorFor(model => model.OrganisationTypeItem.IsActive, "LabelCheckBoxAlign")
				<div class="full-width clearfix">
		            @if (Model.AccessContext == UcbWeb.ViewModels.OrganisationTypeAccessContext.Create)
              {
		                <input id='CreateButton' type='submit' name='Edit::CreateOrganisationType' value='@Resources.LABEL_CREATEBUTTON' title='@Resources.TOOLTIP_CREATEBUTTON @Resources.ENTITYNAME_ORGANISATIONTYPE' />
              }
              else
              {
		                <input id='SaveButton' type='submit' name='Edit::SaveOrganisationType' value='@Resources.LABEL_SAVEBUTTON' title='@Resources.TOOLTIP_SAVEBUTTON @Resources.ENTITYNAME_ORGANISATIONTYPE'/>
						<input id='DeleteButton' class='cancel' type='submit' name='Edit::DeleteOrganisationType' value='@Resources.LABEL_DELETEBUTTON' title='@Resources.TOOLTIP_DELETEBUTTON @Resources.ENTITYNAME_ORGANISATIONTYPE'/>	            
              }    
		            <input id='ExitButton' class='cancel' type='submit' name='Edit::ExitOrganisationType' value='@Resources.LABEL_EXITBUTTON' title='@Resources.TOOLTIP_EXITBUTTON'/>
		        </div>
			</fieldset>
	</div>
}
