@model UcbWeb.ViewModels.TransferSiteSearchVM
@{
    ViewBag.Title = Resources.TITLE_TRANSFER_INCIDENT;
}
<script type="text/javascript">
    $(document).ready(function () {
        function updateGrid(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var grid = $(this).parents('.ajaxGrid');
            var id = grid.attr('id');
            grid.load(url + ' #' + id, function (response, status, xhr) {
                jQueryUIStyling();
            })
        }
        $('.ajaxGrid table thead tr a').live('click', updateGrid);
        $('.ajaxGrid table tfoot tr a').live('click', updateGrid);


    });

</script>

<h2>@Resources.TITLE_TRANSFER_INCIDENT</h2>
@using (Html.BeginForm("Transfer", "Incident", FormMethod.Post, new { @id = "mainForm", @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false, @Resources.ERROR_SUMMARY_TITLE, new { id = "validation_errors" })
     <fieldset class="ui-widget ui-widget-content">
        <legend class="ui-widget-header ui-corner-all">Search Parameters</legend>
        <div class="full-width clearfix">
            <div class = "left-30">
                @Html.EditorFor(model => model.SearchCriteria.SiteName, "LabelLargeFieldAlign")
            </div>
            <div class = "left-30">
                <input id='SearchButton' class='cancel' type='submit' name='Transfer::SearchSite' value="@Resources.LABEL_SEARCHSITEBUTTON" title='@Resources.TOOLTIP_SEARCHSITEBUTTON' />
            </div>
         </div>

     </fieldset>
 
    <div class="full-width clearfix">
        <div class="webgrid-wrapper">
            <div id="grid" class='ajaxGrid'>
                @{
    var grid = new WebGrid(null, canPage: true, rowsPerPage: Model.PageSize, defaultSort: "Code", canSort: false);
    grid.Bind(Model.MatchList, rowCount: Model.TotalRows, autoSortAndPage: false);
           
                    @grid.GetHtml(
                    tableStyle: "webgrid",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    mode: WebGridPagerModes.All, firstText: Resources.PAGING_FIRSTPAGE, previousText: Resources.PAGING_PREVIOUS, nextText: Resources.PAGING_NEXT, lastText: Resources.PAGING_LASTPAGE, numericLinksCount: 5,
                    alternatingRowStyle: "webgrid-alternating-rows",
                    columns: grid.Columns(
                    grid.Column("Code", header: "", format: @<text>@Html.Raw("<input id='SelectButton_")@item.Code@Html.Raw("' type='submit' name='Transfer::TransferIncident_")@item.Code@Html.Raw("' value='")@Html.Raw(Resources.LABEL_TRANSFER_TRANSFERBUTTON)@Html.Raw("' title='")@Resources.TOOLTIP_TRANSFER_TRANSFERBUTTON
                    @Html.Raw("' />")</text>)
                                     , grid.Column("SiteName", header: @Resources.LABEL_TRANSFER_SITENAME)
                                     , grid.Column("NominatedManager", header: @Resources.LABEL_TRANSFER_NOMMGR)
                                     , grid.Column("DeputyNominatedManagers", header: @Resources.LABEL_TRANSFER_DEPNOMMGR)
                    )

                )
                }
                Records Returned: @grid.TotalRowCount
            </div>
        </div>
    </div>
    <input id='CancelButton' class='cancel' type='submit' name='Transfer::Cancel' value="@Resources.LABEL_CANCELBUTTON" title='@Resources.TOOLTIP_CANCELBUTTON' />
}
