@model UcbWeb.ViewModels.JobRoleVM
@{
    ViewBag.Title = Resources.ENTITYNAME_JOBROLE;
}
<h2>Maintain @Resources.ENTITYNAME_JOBROLE</h2>
<script type="text/javascript">
    /// <reference path="jquery-1.7.1.js" />
    /// <reference path="jquery-ui.js" />
    $(document).ready(function () {

        var isDirty = @(Model.IsViewDirty?Html.Raw("true"):Html.Raw("false"));

        $(':input').change(function () {
            if (!isDirty) {
                isDirty = true;
            }
        });
		//;
		var $myDialogDelete = $('<div id=\'delete_dialog_fw\'></div>')
        .html('Are you sure you want to delete?<br/>Click OK to confirm.  Click Cancel to stop this action.')
        .dialog({
            autoOpen: false,
            modal: true,
            title: 'Confirmation Required',
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    if ($('#IsDeleteConfirmed').val() == "True") {
                        var form = $('#mainForm')
                        var input = $("<input>").attr("type", "hidden").attr("name", "Edit::DeleteJobRole").val("");
                        form.append($(input));
                        $('#mainForm')[0].submit();
                        return true;
                    }
                }
                , "Cancel": function () {
                    $(this).dialog("close");
                    return false;
                }
            }

        });
		
		var $myDialogExit = $('<div id=\'exit_dialog_fw\'></div>')
        .html('Are you sure you want to exit?<br/>Click OK to confirm.  Click Cancel to stop this action.')
        .dialog({
            autoOpen: false,
            modal: true,
            title: 'Confirmation Required',
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    if ($('#IsExitConfirmed').val() == "True") {
                        var form = $('#mainForm')
                        var input = $("<input>").attr("type", "hidden").attr("name", "Edit::ExitJobRole").val("");
                        form.append($(input));
                        $('#mainForm')[0].submit();
                        return true;
                    }
                }
                , "Cancel": function () {
                    $(this).dialog("close");
                    return false;
                }
            }

        });

        $('#mainForm').submit(function (e) {

            if ($('#mainForm').find('input[type="submit"]:focus').attr('name') == 'Edit::DeleteJobRole') {
                e.preventDefault();
                $('#IsDeleteConfirmed').val("True");
                var returnValue = $myDialogDelete.dialog('open');  //replace the div id with the id of the button/form
                return returnValue;
            }
            else if ($('#mainForm').find('input[type="submit"]:focus').attr('name') == 'Edit::ExitJobRole') {
                if (isDirty == true) {
                    e.preventDefault();
                    $('#IsExitConfirmed').val("True");
                    var returnValue = $myDialogExit.dialog('open');  //replace the div id with the id of the button/form
                    return returnValue;
                }
                else {
                    $('#IsExitConfirmed').val("True");
                    return true;
                }
            }
            else {
                return true;
            }
        });
	});
	
</script>
@using (Html.BeginForm("Edit", "JobRole", FormMethod.Post, new { @id = "mainForm" }))
{
    <div class='message'>@Model.Message</div>
	@Html.ValidationSummary(false, @Resources.ERROR_SUMMARY_TITLE, new { id = "validation_errors" })
    
    @Html.HiddenFor(model => model.JobRoleItem.Code)
    <input type='hidden' id='IsDeleteConfirmed' name='IsDeleteConfirmed' value='@Model.IsDeleteConfirmed' />
    <input type='hidden' id='IsExitConfirmed' name='IsExitConfirmed' value='@Model.IsExitConfirmed' />
    <div class="full-width clearfix">
		    <fieldset class="ui-widget ui-widget-content ui-corner-all">
                <legend class="ui-widget-header ui-corner-all">@Resources.ENTITYNAME_JOBROLE</legend>
				@Html.EditorFor(model => model.JobRoleItem.Description,"LabelMultiLineTextAlign")
				@Html.EditorFor(model => model.JobRoleItem.IsActive,"LabelCheckBoxAlign")
				<div class="full-width clearfix">
		            @if (Model.AccessContext == UcbWeb.ViewModels.JobRoleAccessContext.Create)
		            {
		                <input id='CreateButton' type='submit' name='Edit::CreateJobRole' value='@Resources.LABEL_CREATEBUTTON' title='@Resources.TOOLTIP_CREATEBUTTON @Resources.ENTITYNAME_JOBROLE' />
		            }
		            else
		            {
		                <input id='SaveButton' type='submit' name='Edit::SaveJobRole' value='@Resources.LABEL_SAVEBUTTON' title='@Resources.TOOLTIP_SAVEBUTTON @Resources.ENTITYNAME_JOBROLE'/>
						<input id='DeleteButton' class='cancel' type='submit' name='Edit::DeleteJobRole' value='@Resources.LABEL_DELETEBUTTON' title='@Resources.TOOLTIP_DELETEBUTTON @Resources.ENTITYNAME_JOBROLE'/>	            
		            }    
		            <input id='ExitButton' class='cancel' type='submit' name='Edit::ExitJobRole' value='@Resources.LABEL_EXITBUTTON' title='@Resources.TOOLTIP_EXITBUTTON'/>
		        </div>
			</fieldset>
	</div>
}
